.body_panel {
  position: absolute;
  top: 0; 
  right: 0;
  bottom: 0;
  left: 0;
}

body-dock {
  position: absolute;
  top: 0;
  right: 0;
  min-height: 75px;
  min-width: 260px;
}

.ingame_tips {
  font-size: 12px;
  font-family: 'Armata Regular';
}

.ingame_tips_cont {
  background: rgba(0,0,0,0.5);
  border: solid rgba(50, 96, 133, 1) 1px;
  box-shadow: 0 0 10px rgba(40, 96, 133, 1);
  padding: 14px 22px 22px 22px;
  margin: 8px 8px 0px 8px;
  position: relative;
}

body {
  opacity: 0;
  transition: opacity 2s ease-in;
}

body.visible {
  opacity: 1;
}
