.body_panel {
  position: absolute;
  top: 0; 
  right: 0;
  bottom: 0;
  left: 0;
}

body-dock {
  position: absolute;
  top: 0;
  right: 0;
  min-height: 75px;
  min-width: 260px;
}

.ingame_tips {
  font-size: 12px;
  font-family: 'Armata Regular';
}

.ingame_tips_cont {
  border-image:url(coui://ui/main/shared/img/panel/img_menu_panel.png) 14 22 22 22;
  border-width:14px 22px 22px 22px;
  box-shadow: inset 1000px 1000px 1000px 1000px #000;
  margin: 8px 8px 0px 8px;
  position: relative;
}

body {
  opacity: 0;
  transition: opacity 2s ease-in;
}

body.visible {
  opacity: 1;
}
